My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.postMode }}",
                    "rightValue": "ALBUM",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "0be04d3c-a81c-4d10-a51a-a34d7d542efc"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0e3d1ed6-3dac-4a54-a12e-f5896cf03f39",
                    "leftValue": "={{ $json.body.postMode }}",
                    "rightValue": "AI",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        0,
        304
      ],
      "id": "7e5199f1-174c-48b9-b01a-bef3fd05632f",
      "name": "Switch"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "test-ai",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -288,
        304
      ],
      "id": "07c1e1a6-5537-484e-b1ca-653d11882b33",
      "name": "Webhook1",
      "webhookId": "100c0b1b-1c8b-4958-8a4c-c38ad60e79b6"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "models/gemini-3-flash-preview"
        },
        "messages": {
          "values": [
            {
              "content": "=Hãy đóng vai một chuyên gia content marketing. Viết DUY NHẤT 1 bài đăng Facebook để bán mẫu đồng hồ có mã SKU là: {{$json.body.sku}}. \n\nDưới đây là toàn bộ thông tin chi tiết về sản phẩm này (Màu sắc, Chất liệu, Giá bán...):\n{{ $json.body.productInfoText }}\n\nYêu cầu bắt buộc:\n- Viết ngắn gọn, thu hút, chốt sale tốt. Tôn lên được các ưu điểm trong phần thông tin chi tiết bên trên.\n- Có sử dụng biểu tượng cảm xúc và hashtag phù hợp.\n- Khéo léo nhắc đến \"Giá sale\" hoặc phân khúc giá (nếu có ở trên).\n- CHỈ TRẢ VỀ DUY NHẤT NỘI DUNG BÀI ĐĂNG. KHÔNG đưa ra nhiều lựa chọn (Option 1, Option 2). KHÔNG giải thích. KHÔNG có câu chào hỏi hay dặn dò dư thừa.\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        288,
        160
      ],
      "id": "a989e625-2ba4-4121-8d89-5ea5f9fb4f34",
      "name": "Message a model1",
      "credentials": {
        "googlePalmApi": {
          "id": "0ENNj028JMniIan4",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ \"content\": $json.content.parts[0].text }) }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        656,
        208
      ],
      "id": "268722fb-0ded-4d9c-85f6-ca8270e2d194",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "edit",
        "modelId": {
          "__rl": true,
          "value": "gpt-image-2",
          "mode": "list",
          "cachedResultName": "GPT-IMAGE-2"
        },
        "prompt": "A luxurious high-end watch sitting on a dark marble table, professional product photography, 4k resolution, cinematic lighting.",
        "images": {
          "values": [
            {
              "binaryPropertyName": "image"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        320,
        528
      ],
      "id": "21a67dfc-0664-491b-b164-0424bc82979d",
      "name": "Edit image",
      "credentials": {
        "openAiApi": {
          "id": "iOdTHDEBsnygM8vM",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "models/gemini-3-flash-preview"
        },
        "messages": {
          "values": [
            {
              "content": "=Hãy đóng vai một chuyên gia content marketing. Viết DUY NHẤT 1 bài đăng Facebook để bán mẫu đồng hồ có mã SKU là: {{$json.body.sku}}. \n\nDưới đây là toàn bộ thông tin chi tiết về sản phẩm này (Màu sắc, Chất liệu, Giá bán...):\n{{ $json.body.productInfoText }}\n\nYêu cầu bắt buộc:\n- Viết ngắn gọn, thu hút, chốt sale tốt. Tôn lên được các ưu điểm trong phần thông tin chi tiết bên trên.\n- Có sử dụng biểu tượng cảm xúc và hashtag phù hợp.\n- Khéo léo nhắc đến \"Giá sale\" hoặc phân khúc giá (nếu có ở trên).\n- CHỈ TRẢ VỀ DUY NHẤT NỘI DUNG BÀI ĐĂNG. KHÔNG đưa ra nhiều lựa chọn (Option 1, Option 2). KHÔNG giải thích. KHÔNG có câu chào hỏi hay dặn dò dư thừa.\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        512,
        576
      ],
      "id": "cb6f8b47-c783-4edc-b0a7-2a42acab06a1",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "0ENNj028JMniIan4",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ \"content\": $json.content.parts[0].text, \"imageBase64\": $node[\"Edit image\"].binary.image.data }) }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        832,
        576
      ],
      "id": "b989d6d8-fbbb-4bff-b5a3-9ceca0801f17",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit image": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "0a058812-1dba-46f7-bdf4-02e4f6c26b8e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0158acb12eba1a2eb3f283b95db0831b4481a9939512b81f2c9dd11ab941bf06"
  },
  "id": "n6N1J5HVhdWiihHw",
  "tags": []
}